
*.cdb
*.hdb
/db
/DE2-115 ADC_DAC/a2dv2/db
/DE2-115 ADC_DAC/a2dv2/greybox_tmp
/DE2-115 ADC_DAC/a2dv2/incremental_db
db
simulation
incremental_db

qsys_system.sopcinfo
DE2115_DualLockins.asm.rpt
DE2115_DualLockins.done
DE2115_DualLockins.fit.rpt
DE2115_DualLockins.fit.summary
DE2115_DualLockins.flow.rpt
DE2115_DualLockins.jdi
DE2115_DualLockins.map.rpt
DE2115_DualLockins.map.summary
DE2115_DualLockins.qsf
DE2115_DualLockins.sld
DE2115_DualLockins.sof
DE2115_DualLockins.sta.rpt
